/*
Виды селекторов:
  -для тегов
  -для классов
  -для id
  -универсальные
  -для атрибутов
  -для псевдоэлементов
*/

*{
  margin: 0;
  padding: 0;
  outline: none;
}
html{
  height: 100%;
}
body{
  font-family: "Roboto", Arial, sans-serif;
  background: #0d2f32;
  font-size: 1.5rem;
  font-weight: lighter; /*насыщеность шрифта*/
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color:#000000;
}
a:hover {
  transform: scale(1.3);
  color: rgb(11, 110, 156);
  transition-duration: .15s;
}
li{
  text-decoration: none;
  list-style: none;
}
img{
  display:block;
  max-width:100%;
  height:auto;
}
.clearfix:after {
content: "";
display: block;
clear: both;
}

/*ползунок скролбара*/
::-webkit-scrollbar-thumb {
-webkit-border-radius: 5px;
border-radius: 0px;
background-color:#2d84a1;
background-position:center;
background-repeat:no-repeat;
}
/* Для всех скроллбаров */
::-webkit-scrollbar{
width: 11px;
height: 11px;
}
/*position:
  -absolute
  -fixed
  -relative - относительно исходного места
  -static - отображение элементов как обычно (l,r,t,b) - не приводят к результатам
*/
.top_section{
  position: relative;
}
.header{
  width: 100%;
  position: absolute;
  display: flex; /*установка для дочерних элеметов, как flex элементы*/
  background-color: rgba(255, 255, 255, 0.82);
  flex: 1; /*коэффициент увеличения флекс-элемента относительно других флекс-элементов*/
  align-items: center; /*выравнивание элеметов по вертикали*/
  flex-wrap: wrap; /*Многострочность элементов*/
}
.logo{
  height: 30%;
  padding: 1% 0%;
  padding-left: 2.5%;
  flex:4;
}
.search{
  display: flex;
  background-color: white;
  border-radius: 10px;
  flex:5;
  margin: 0% 2%;
}
.button_LISU{
  display: flex;
  flex:2;
  justify-content: space-around; /*выравнивание элеметов по горизонтали*/
  align-items: center;
  margin-right: 2%;
  flex-wrap: wrap;
}



.LI{
  margin: 0% 2%;
  text-align: center;
  flex:1;
}
.SU{
  padding: 3.2% 0;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  flex:1;
}
.logo_search{
  max-width:100%;
  height:auto;
   padding: 1.8% 2%;
}
.entry_field{
 padding: 1.5% 0%;
  font-size: 1.5rem;
  border: none;
  background: transparent; /* Прозрачный фон */
  outline: none;
  width: 90%;
}

.menu{
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  /* flex-wrap:   wrap; */
  background-color: rgba(255, 255, 255, 0.82);
}
.elements_menu{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0%;

}
.bt_menu{
  margin: 0% 5%;
}


.content_menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position:   relative;
}
.content_menu div{
  max-width: 24.76%;
    margin: 0.12% 0.12%;
   position: relative;
}
.content_menu span{
   position: absolute;
   top:10%;
    left:0%;

    /* Оформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;

    /* Фон */
    background-color:rgba(0,0,0,.8);
    padding:2% 6%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


footer{
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.82);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.logo_footer{
  flex: 1;
}
.data_address{
  margin: 2% 2%;
  margin-bottom: 0;
  flex: 1;
    text-align: center;
    align-content: center;
}
.data_address table{
  margin: 0 auto;
}
.social_network{
  display: flex;
  text-align: center;
  flex: 1;
}
.social_network a{
  padding: 0 2%;
}
.copyright{
  padding: 5% 0;
}










.personal_form{
  display: flex;
  flex-direction: column;
  margin: 8% 12%;
}
.img_and_dataimg{
  display: flex;
  flex: 1;
}
.img_and_dataimg .img{
  height:650px;
  flex: 2;
}
.img_and_dataimg .img img{
  height:650px;
  width: auto;
}
.dataimg{
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.82);
  flex: 1;
    height:650px;
}
.alldata{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 2;
}
.alldata img{
  padding: 0 3%;
}
hr{
  margin: 0 15%;
}
.null_place{
  flex: 6;
}
.bt_like_home{
  background-color: rgb(189, 59, 68);
  border-radius: 10px;
  text-align: center;
  padding: 2% 0;
  margin: 0% 15%;
  margin-bottom: 5%;
  flex: 0.5;
}

.buttonAction{

  display: flex;
  flex-direction: column;
  margin: 0 12%;
  margin-top: 10%;
}
.bt_config{
  margin:   3% 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}
.bt_config input{

  padding: 5% 15%;
  display: flex;
  justify-content: center;
}




.list_img{
  /*overflow-x(-y) управляет отображением содержания блочного элемента по горизонтали, если контент целиком не помещается и выходит за область справа или слева от блока
    hidden - Отображается только область внутри элемента, остальное будет скрыто.
    scroll - Всегда добавляется горизонтальная полоса прокрутки.
  */
  overflow-x:hidden ;
  overflow-y:scroll ;
  background-color: rgba(255, 255, 255, 0.82);
  flex: 0.5;
  height:650px;

}
.list_img img
{
  max-width:100%;
  height:auto;
}




.file-upload {
  display: flex;
  justify-content: center;
     background: #386ab8;
     border-radius: 10px;
     color: #fff;
}
.file-upload:hover {
     background: #c46e71;
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload span{

}
#file-name{
  font-size: 0.7vw;
  white-space: nowrap;
}











/* LISU */
.LISU_form{
  height: 23%;
  width: 23%;
  margin: 10% 38%;

}
.content_LISU{
  display: flex;
  flex-direction: column; /*направление главной оси для элементов флекса*/
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  text-align: center;
}
.entry{
  background-color: white;
  border-radius: 10px;
  margin: 0 5%;
}
.content_LISU .entry_field{
  padding: 4% 0;
}
.bt_entry_text{
  background: white;
  border-radius: 10px;
  outline: none; /*Универсальное свойство, одновременно устанавливающее цвет, стиль и толщину внешней границы на всех четырех сторонах элемента.*/
  border: none;
  user-select: none;
  padding: 3% 9%;
  margin-bottom: 5%;
}
.LISU_form_marg{
 margin-top: 5%;
}
input{
  font-style: normal;
  font-size: 20px;
  background: none;
  /* border-radius: 10px; */
  outline: none;
  border: none;
  user-select: none;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(29, 130, 33, 0.59);
  z-index: 10;
  /* display: none; */
}













.background_input_text{
  background: white;
  border-radius: 10px;

}
.background_input_text input{
  margin: 5% 5%;
}
#spaceTable{
  margin: 50%;
}





.parsers{
  margin: 0 30%;
  display: flex;
}
.parsers input{
  font-size: 25px;
   color: White;
   margin: 0 10%;
}










@media (max-width: 1000px) {
    body{
      font-size: 1rem;
    }
    footer{
      font-size: 0.8rem;
    }
    header > img{
      display: none;
    }
    footer > img{
        display: none;
    }
}
@media (max-width: 680px) {
    body{
      font-size: 0.8rem;
    }
    footer{
      font-size: 0.6rem;
    }
    .content_menu div{
      max-width: 33.05%;
        margin: 0% 0.12%;
       position: relative;
    }
}
