*{
  margin: 0;
  padding: 0;
  outline: none;
}

html{
  height: 100%;
}

body{
  font-family: "Roboto", Arial, sans-serif;
  background: #0d2f32;
  /* #0d2f32; */
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color:#000000;
}
a:hover {
  transform: scale(1.03);

}
li{
  text-decoration: none;
  list-style: none;
}
.clearfix:after {
content: "";
display: block;
clear: both;
}



/* Шапка  */
.logo{
  user-select: none;
}
.img_logo{
  margin-left: 74px;
  margin-top: 23px;
  box-sizing: border-box;
  float:left;

}
.text_logo{
  float:left;
    /* line-height: 0px; */
  margin-top:  22px;
  padding-left: 10px;
  font-size: 45px;

}
.search{
  background: white;
  border-radius: 10px;
  width: 732px;
  height: 48px;
  margin-top: 25px;
  margin-left: 380px;
  float:left;

}
.logo_search{
  float:left;
margin-left: 15px;
margin-top: 13px;
user-select: none;
}
.entry_field{
  float:left;
    margin-left: 15px;
    margin-top: 12px;
    border: none;
    font-size: 22px;
    background: transparent; /* Прозрачный фон */
    outline: none;

    width: 650px;
}
.LISI{
    font-size: 30px;
    font-weight: lighter;
    user-select: none;
}
.LI{
      float:left;
      margin-top: 30px;
     margin-left: 65px;
}
.SI{
      float:left;
      margin-left: 21px;
      margin-top:  6px;
}
.bt_SI{
    margin-left: 21px;
    float:left;
    margin-top: 25px;
    background: white;
    height: 48px;
    width: 133px;
    border-radius: 10px;
}
/* Конец: шапка */


/* Основаня картинка и прозрачные полосы */
.base{
  background: url("/media/img/bg_base.png");
  /* height:calc(100vh - 195px); */
  width: 100%;
  background-size: cover;
}
.header{
  background: rgba(213,213,213,.8);
  position: relative;
  height: 98px;
  /* outline: 1px solid red; */
}




/* Конец: Основаня картинка и прозрачные полосы */

/* .container{
margin-left: 74px;
margin-top: 23px;
  /* outline: 1px solid blue;
  }*/






/* Фраза на клавной картинке */
.base_phrase{
  height: 572px;
    user-select: none;
}
.phrase{
  margin-left: 1149px;
  padding-top:  120px;
}
h1{
  font-size: 130px;
  font-weight: lighter;
  color: white;

}
.caption{
  font-size: 106px;
  font-weight: bold;
  color: white;
}
/* Конец: фраза на главной кртинке */

/* Меню */
.menu{
  font-size: 45px;
  font-weight: lighter;
padding-left:  529px;
padding-top:  22px;
  user-select: none;
/* margin: 2px auto; */
}
.bt_popular{
  margin-left: 212px;
}
.bt_latest{
  margin-left: 212px;
}

.menu a:hover{
  transform: scale(1.03);

  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
/* Конец: меню */


/* Категории картинок */
.miniaturs{
    /* width:1600px; */
  margin: 2px auto;
    user-select: none;
}
.miniaturs_list{
  list-style: none;
}
.miniaturs_list li{
  width:473px;
  height:265px;
  background-size: container;
  float: left;
  margin: 2px;
}
.miniaturs_list li img{
  width: 100%;
  height: 100%;
}
.data_miniaturs{
   display:inline-block;
    position:relative;
}
.data_miniaturs span{
   display:inline-block;
   position:absolute;
   top:30px;
   left:0px;

   /* Оформление текста */
   color:#FFF;
/* background: transparent; */
   font-size:20px;
   text-transform: uppercase;

   /* Фон */
   background-color:rgba(0,0,0,.7);
   padding:10px 30px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
.data_miniaturs:hover{
    /* transform: scale(1.03); */
    background-color: rgba(64, 150, 177, 0.7);
    padding: 4px;
}
/* Конец: катекории картинок */



/* Футер */
.footer{
  background: rgba(213,213,213,.8);
  height: 240px;
  /* margin-top: 500px; */

}
.data_contact{
  margin-left: 400px;
  margin-top: 30px;

  float: left;

}
.social_network{
  float: right;
  margin-top: 35px;
  margin-right: 74px;
  user-select: none;
}
.copyright{
  font-size: 15px;
margin-top: 30px;
margin-left: 8px;
user-select: none;
}
/* Конец футер */






/* Окно входа */
.overlay_popup {

	/* display:none; */
	/* position:fixed;
	z-index: 999;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background:#000;
	opacity:0.6; */
}
.popup {
	/* display: none; */
	position: relative;
	z-index: 1000;
	margin-left: 38%;
  width:25%;
}
.object{
    margin-top: 200px;
    border-radius: 20px;
	  text-align: center;
	  background-color: rgba(70, 167, 193, 0.75);
	  padding: 25px 25px;
}
.entry{
  width: 420px;
  height: 48px;
  background: white;
  border-radius: 10px;
  margin-bottom:  15px;

}
.bt_entry{
  background: white;
  width: 100px;
  height: 43px;
  border-radius: 15px;
  margin-left: 160px;
  padding-top: 8px;
  font-size: 25px;
}
.bt_entry_text{

font-size: 23px;
background-color: transparent;
outline: none;
border: none;
  user-select: none;

}
.lable_LISI{
  font-size: 25px;
margin-bottom:  50px;
  color: white;
    user-select: none;
}

/* Конец: окно входа */





/* Персональная страница */
.list_img_data {
  margin: 0; /* Обнуляем значение отступов */
  padding: 0px; /* Значение полей */

}

.list_img_data li{
  margin-left: 0px;
  margin-top: 25px;
  /* vertical-align: top; */
  display: inline-block;
}
.window_img{
  margin-left: 250px;
  width: 1000px;
  height: 700px;

  background-color: rgb(63, 155, 187);
}
.window_img img{
  /* padding: 20px; */
  /* width: 94.8%;
  height: 94%; */
  width: 100%;
  height: 100%;
}
.list_author_img{
  /* background-color: rgb(255, 255, 255); */
  height: 170px;
  margin-left: 250px;
  width: 1404px;
  /* outline: 1px solid blue; */
  white-space: nowrap;
  word-wrap: normal;
  overflow-x: scroll;
  overflow-y: hidden;
}
.list_author_img img{
 position: relative;
 /* width: 23%; */
 height: 170px;
 max-height: 100%;
 /* transition: .5s; */
}
/* .list_author_img li{
  display: inline;
} */

.block_data_about_img{
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  width: 360px;
  /* outline: 1px solid blue; */
}
.data_about_img{
  /* float:inherit; */
    /* position: relative; */
  width:400px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.9);
}
.name_acc{
  font-size: 30px;
  margin-left: 35px;
}
.ico_plus{
  width:35px; /* you can use % */
  height: auto;
  margin-left: 40px;
  position: absolute;
}
.definition_tag{
  font-size: 20px;
  color: rgb(121, 121, 121);
}
hr{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.prop_eye_like{
  margin-left: 10px;
}
/* .eye_like{
  position: absolute;
  white-space: nowrap;
  word-wrap: normal;
} */
.bt_like_home{
  left: 12%;
  top: 80%;
  width: 300px;
  height: 40px;
  position: relative;
  background-color: rgb(189, 59, 68);
  border-radius: 10px;
  margin-top: 15px;
}
.text_like_home{
  color: white;
  font-size: 25px;
  position: absolute;
  left: 42%;
  top: 10%;
  }



/* Полоса прокрутки */

::-webkit-scrollbar-thumb {
-webkit-border-radius: 5px;
border-radius: 0px;
background-color:#2d84a1;
background-position:center;
background-repeat:no-repeat;
}
::-webkit-scrollbar{
width: 11px;
height: 11px;
}
/* Конец: Полоса прокрутки */

/* Конец: персональная страница */
